<div class="main users-index">
  <div class="container">
    <h1 class="users-heading" style="text-align:center; padding:40px;">ユーザー一覧</h1>
      <%= render 'user', users: @users %>     
    <%= paginate(@users) %>
  </div>
</div>