
<div class="about-main" style="margin:30px;">
  <h2>Company-loveとは</h2>
  <p style="margin:30px;">
    社内の人と繋がれるアプリです。<br>
    会社で気になるあの人。<br>
    実はあなたのことも気になっているかも…<br>
    そんな時に使えるのがこのアプリ<br>
  </p>
 <img class="about-img" src="">
</div>
