<div class="about-main">
  <div class="about-content">
    <div class="row about-row">
      <div class="col-md-6 about-box">
        <img class="about-image" src="/images/3cd001ad98864d005fda5e9e66aeff36.jpg">
      </div>
      <div class="col-md-6 about-box">
        <h2 class="about-heading">Company-Marriageとは？</h2>
        <p class="about-p">Company-Marriageとは、社内の人と繋がれるアプリです。<br>
        会社で気になるあの人<br>
        実はあなたのことも気になっているかも…<br>
        でも話かるきっかけがない。<br>
        そんな時に使えるのがこの「Company-Marriage」<br>
        Company-Marriageを使って社内恋愛をしよう。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-main">
  <div class="about-content">
    <div class="row about-row">
      <div class="col-md-6 about-box">
        <img class="about-image" src="/images/70da620943c60825b2cb06fbae5e904b.jpg">
      </div>
      <div class="col-md-6 about-box">
        <h2 class="about-heading">気になる人を見つけてチャット</h2>
        <p class="about-p">Company-Marriageでは、ユーザー一覧からあなたの気になる人を見つけられます。<br>
        気になる人の詳細ページから気になるボタンを押して、アピールしましょう。<br>
        お互い気になるボタンを押したら、「チャットへ」ボタンが表示されます。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-main">
  <div class="about-content">
    <div class="row about-row">
      <div class="col-md-6 about-box">
        <img class="about-image" src="/images/64c633de4a613be2e3e2742d71007f5d.jpg" >
      </div>
      <div class="col-md-6 about-box">
        <h2 class="about-heading">投稿・コメントしよう</h2>
        <p class="about-p">Company-Marriageでは、投稿機能があります。<br>
        投稿して自分をアピールしましょう。<br>
        また気になる人の投稿に対して詳細ボタンを押したら、コメントすることもできます。<br>
        積極的にコメントして、自分をアピールしましょう。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-main">
  <div class="about-content">
    <div class="row about-row">
      <div class="col-md-6 about-box">
        <img class="about-image" src="/images/ed38061aa5de56de73492a4147774480.jpg" >
      </div>
      <div class="col-md-6 about-box">
        <h2 class="about-heading">気になる人だけにアピール</h2>
        <p class="about-p">Company-Marriageでは、公開・非公開設定があります。<br>
        気になる人にだけにしかアピールしたくない場合、この非公開設定をしましょう。<br>
        マイページに飛んで非公開設定を選択すれば、ユーザー一覧に表示されなくなります。<br>
        しかし、気になる人に対して「気になるボタン」を押せるので、使っていることをたくさんの人に知られたくないという人は非公開設定にしてみましょう。<br>
        また、このアプリが必要なくなった人も、マイページに飛んで非公開設定を選択してください。
        </p>
      </div>
    </div>
  </div>
</div>
