  <div class="top-message" style="padding-top:400px; text-align:center;">
    <h2>ただ気になっていただけなのに</h2>
    <p class="top-button">
    <%= link_to new_user_registration_path,class:"btn btn-red50_rsd btn-lg",role:"button" do%>
      <span class="text-muted">Company-Marriageをはじめる</span>
    <% end %>
    </p>
  </div>
