  <div class="top-message" style="padding-top:400px; text-align:center;">
    <h2>社内恋愛はじめます</h2>
    <p>
    <%= link_to new_user_registration_path,class:"btn btn-red50_rsd btn-lg",role:"button" do%>
      <span class="text-muted">Company-loveをはじめる</span>
    <% end %>
    </p>
  </div>
