.right-button {
  color: lightblue;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
}
.edit-link{
  color:  pink;
  height: 40px;
  font-weight:bold;
  line-height: 40px;
  padding: 0 20px;
  border: solid 1px pink;
  position: absolute;
  left: 0px;
  text-decoration: none;
}

.chat{
  margin-bottom:70px;
}
.chat-box {
  width: 100%;
  height: auto;
  overflow: hidden; 
  margin-bottom: 20px;
}
.chat-face {
  float: left;
  margin-right: -120px;
}
.chat-face img{
  border-radius: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
}
.chat-area {
  width: 100%;
  float: right;
}
.chat-hukidashi {
  display: inline-block; /*コメントの文字数に合わせて可変*/
  padding: 15px 20px;
  margin-left: 120px;
  margin-top: 8px;
  border-radius: 10px;
  position: relative; 
  background-color: #D9F0FF; 
}
.chat-hukidashi:after {
  content: "";
  position: absolute;
  top: 50%; left: -10px;
  margin-top: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D9F0FF transparent transparent;
}
.someone {
  background-color: #BCF5A9;
}
.someone:after {
  border-color: transparent #BCF5A9 transparent transparent;
}

.posts {
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #666;
  position: fixed; 
  bottom: 0; 
}


.form-text-field {
  height: 40px;
  font-size: 16px;
  padding: 5px;
  width: calc(100% - 100px);
  float: left;
}

.form-submit {
  background-color: lightblue;
  border: none;
  color: white;
  float: right;
  font-size: 16px;
  height: 40px;
  padding: 0 30px;
}
