*{
  margin: 0px;
  padding: 0px;
}

body {
  background: url(/images/christiana-rivers-3_mQjo4Vb6A-unsplash.jpg) no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: pink;
  color:white;
}

a{
  color: lightcoral;
}

.alert-danger{
  background-color:rgba(236, 158, 171, 0.815);
}

.alert-heading{
  text-decoration: none;
  text-align:center;
}


.mb-0{
  text-align:center;
  color:red;
  list-style: none;
}

.main users-index{
  margin: 0 auto;
}


.card {
  margin-bottom: 30px !important;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}