*{
  margin: 0px;
  padding: 0px;
}

body {
  background: url("/images/christiana-rivers-3_mQjo4Vb6A-unsplash.jpg") no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: pink;
  color:white;
}

a{
  color: lightcoral;
}

.alert-heading{
  font-size:20px;
  text-decoration: none;
}

.main users-index{
  margin: 0 auto;
}


.card {
  margin-bottom: 30px !important;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}