.tweet-show-group{
  width:80%; 
  margin: 30px 300px;
}

.tweet-show-avatar{
  width:360px; 
  height:360px;
}

.tweet-show-row{
  margin: 170px 0px 0px 250px;
}

#new_comment{
  text-align: center;
}

.comments-form-button{
  display: inline-block; 
  margin-bottom: 30px;
}

.comments{
  margin: 30px;
}